name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 16 * * 2'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 25
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - uses: sbt/setup-sbt@v1
    - run: sbt -v
           -J-Xmx4G
           "all scalafmtSbtCheck scalafmtCheckAll"
           test
           plugin2_12/scripted
           plugin3/scriptedTestSbt2
    - run: rm -rf "$HOME/.ivy2/local"
