name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 16 * * 2'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 25
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: coursier/cache-action@c5ca79321d170b8a18c288d9cadc2a6037166d0f # v6.4.8
    - uses: sbt/setup-sbt@v1
    - run: sbt -v
           -J-Xmx4G
           "all scalafmtSbtCheck scalafmtCheckAll"
           test
           plugin2_12/scripted
           plugin3/scriptedTestSbt2
    - run: rm -rf "$HOME/.ivy2/local"
